numpy==1.25.1
pandas==2.0.3
openai==0.27.8
google-cloud-texttospeech==2.14.1
ipython==8.14.0
Markdown==3.4.3
ffmpeg==1.4
PyAudio==0.2.13
pydub==0.25.1
pygame==2.5.0
PyQt6==6.5.1
soundfile==0.12.1
tqdm==4.65.0


